/***********  COMMON **********/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
}

.flex{
    display: flex;
}

.vw{
    width: 100%;
    padding: 3rem 0;
}

.card{
    width: calc(100% - 2rem);
    min-height: 10rem;
    margin: 1rem 1rem;
    border-radius: 40px;
    padding: 0.5rem 1rem;
}

h2{
    padding: 0 2rem;
    margin: 1rem auto;
    font-size: 2.5rem;
}




/********** HEADER **********/

.nav-bar{
    width: 100%;
    background-color: blue;  
}

.nav-bar>.container{
    justify-content: space-between;
    flex-wrap: nowrap;
}

.nav-bar>.container>div{
    padding: 1rem 0.7rem;
    color: white;
}


/*********** MAIN/SECTIONS **********/

/* sezine 1 */


.demo-card>.container{
    flex-flow: column wrap;
}

.demo-card>.container>.card{
    background-color: rgb(64, 180, 247);
    padding-bottom: 0;
    text-align: center;
}


.demo-card>.container>.card h3{
    color: blue;
    margin: 1rem auto;
    font-size: 2rem;
}

.demo-text>p{
    text-align: left;
    font-size: 1.4rem;
}

.demo-text>button{
    color: white;
    background-color: blue;
    padding: 0.5rem 4.5rem;
    margin: 1rem auto;
    border-radius: 16px;
    border: none;
}

.demo-app>img{
    width: 100%;
    display: block;
}

.card>div{
    width: 100%;
    padding: 0 0.5rem;
}

.demo-card .card{
    flex-direction: column;
}

.demo-card>.container>.card>i{
    color: blue;
    margin: 1.5rem auto;
    text-align: center;
    font-size: 5rem;
}

.demo-card>.container>.card>p{
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

/* sezione 2 */


.strategic-planning{
    background-color: blueviolet;
    flex-direction: column;
    padding: ;

}

.strategic-planning>.container{
    flex-flow: column wrap;
}


.strategic-planning .card{
    min-height: 10rem;
}

.strategic-planning>.container>.card:last-child{
    background-color: white;
}


.strategic-planning>.container>.card:first-child{
    background-color:blueviolet;
}

.planning1>img{
    width: 100%;
}

.planning1>h2{
    color: white;
    padding: 2rem 0;
    text-align: center;
    font-size: 3rem;
}

.planning1>p{
    font-size: 1.7rem;
    padding: 1rem;
    color: white;
}

.planning2{
   text-align: center;
}

.planning2>img{
    width: 100%;
}


.planning2>h2{
    text-align: center;
}

.planning2>p{
    color: black;
    font-size: 1.7rem;
    padding: 1rem;
}

.planning2>i{
    margin: 1rem auto;
    background-color: blueviolet;
    font-size: 4rem;
    border: none;
    border-radius: 50%;
    padding: 0.5rem 1rem;
}

/* sezione 3 */
.members-card>.container{
    flex-flow: column wrap;
}

.members-card>.container>.card{
    background-color:blueviolet ;
}

.members-card>.container>.card:first-child{
    background-color: white;
    text-align: center;
}

.members-card>.container>.card:first-child>h2{
    color: blueviolet;
    padding: 1rem 0;
}

.members-card>.container>.card:first-child>p{
    font-size: 1.7rem;
}

.members-card>.container>.flex{
    flex-direction: column;
}

.img-member>img{
    padding: 0.5rem;
    width: 100%;
    border-radius: 45%;
}

.text-member>p{
    padding: 2rem 0;
}

.text-member{
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

/* sezione 4 */

.benefits{
    background-color: blueviolet;
}

.benefits>.container{
    flex-flow: column wrap;
}


.benefits>.container>.card{
    background-color:white;
    padding: 2rem;
}

.benefits>.container>h2{
    color: white;
    text-align: center;
}

.benefits>.container>.card>h2{
    color: blueviolet;
    padding: 0;
}

.benefits>.container>.card>h3{
    color: blueviolet;
}

.benefits>.container>.card>p{
    padding: 1rem 0;
    font-size: 1.7rem;
}

.benefits>.container>.card>button{
    background-color: blueviolet;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 10%;
}

/* sezione 5 */

.about-us>.container{
    flex-flow: column wrap;
}


.about-us h2{
    color: blueviolet;
    padding: 0;
    margin: 0;
}

.about-us .card>p{
    margin: 2rem auto;
    font-size: 1.7rem;

}

.about-us .card>img{
    width: 100%;
    border-radius: 50%;

}

.about-us .card:last-child>h2{
    padding: 2rem 0;
}

.about-us .card:last-child>button{
    color: white;
    background-color: blueviolet;
    font-size: 1.3rem;
    padding: 0.3rem 1rem;
}


/* sezione 6 */

.try{
    background-color: blueviolet;
}

.try>.container{
    max-width: 220px ;
    margin: 0 auto;
    text-align: center;
}

.try>.container>span{
    font-size: 0.8rem;
    color: gray;
}

.try>.container>h3{
    color: white;
    padding: 1rem;
}

.try>.container>h2{
    color: goldenrod;
}

.try>.container>p{
    color: white;
    font-size: 0.7rem;
}

.try>.container>button{
    margin: 1rem 0;
    padding: 0.7rem 2rem;
    border-radius: 16px;
    color: blueviolet;
    border: none;
}


/*********** FOOTER **********/

.end-page{
    background-color: black;
}

.end-page>.container{
    max-width: 220px;
    margin: 0 auto;
    text-align: center;
}

.end-page>.container>p{
    color: white;
    font-size: 0.5rem;
    margin: 1rem auto;
}


/********* RESPONSIVE **********/


/* tablet size */
@media screen and (min-width: 768px) {
    .demo-card>.container{
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .demo-card>.container>.card{
        width:calc(100% / 3 - 2rem);
    }

    .demo-card>.container>.card:first-child{
        width: calc(100% / 3 * 2 - 2rem);
    }



    .benefits>.container{
        flex-flow: row wrap;
    }
    
    
    .benefits>.container>.card{
        width: calc(100% / 2 - 2rem)
    }



    .about-us>.container{
        flex-flow: row wrap;
    }

    .about-us>.container>.card:first-child{
        width: calc(100% / 3 * 2 - 2rem);
    }

    .about-us>.container>.card:last-child{
        width: calc(100% / 3 - 2rem);
    }    
}
